<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
    <nav class="navbar">
      <div class="brandName">Prism</div>
        <button class="btn btn-primary" style="background-color: transparent;"><i class="fa fa-user fa-3x" aria-hidden="true"></i>
        </button>
      
    </nav>

    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" style="height: 790px;">
            <img class="btn-md" src="assets/profile.png" alt="" style="padding-left: 100px;">
            <h5 class="card-title" style="padding-left: 95px;">Emily Smith</h5>
            <h6 style="padding-left: 120px; font-size: 14px;">Manager</h6>
            <div class="button">
            <a routerLink="/guests" type="button" class="btn btn-outline-dark btn-rounded" style="width: 250px; transform: translateX(11%); "><i class="fa fa-user-o pr-5"
              aria-hidden="true"></i>Manage Guest</a>  
            </div>
            <div class="button">  
            <a routerLink="/reservation" routerLinkActive="active" type="button" class="btn btn-outline-dark btn-rounded" style="width: 250px; transform: translateX(11%); "><i class="fa fa-calendar pr-4"
              aria-hidden="true"></i>Manage Reservation</a> 
            </div>  
            <div class="button">   
            <a routerLink="/rooms" type="button" class="btn btn-outline-dark btn-rounded" style="width: 250px; transform: translateX(11%); "><i class="fa fa-bed pr-5"
              aria-hidden="true"></i>Manage Room</a> 
            </div>   
            <div class="button"> 
            <a routerLink="/roomTypes" type="button" class="btn btn-outline-dark btn-rounded" style="width: 250px; transform: translateX(11%); "><i class="fa fa-sign-out pr-3"
              aria-hidden="true"></i>Manage RoomTypes</a>
            </div>                        
          </div>
        </div>
      </div>
      <div class="col-sm-9">  
        <div class="card">
          <div class="heading">
            <div class="title">Reservation Manager
              <button class="btn" [routerLink]="'/reservation'" style="background-color: transparent; padding-right: 40px; float: right;"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
              </button>
              <button class="btn" [routerLink]="'/addOrder'" style="background-color: transparent; padding-right: 20px; float: right;"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
              </button>  
            </div>
          </div>
          <div class="card-body">
              <!--Table-->
              <table class="table table-hover">
                  <!--Table head-->
                  <thead class="thead-light">
                      <tr class="text-black">
                        <th>ReservationNo</th>
                        <th>GuestName</th>
                        <th>RoomId</th>
                        <th>ArrivalDate</th>
                        <th>DepartureDate</th>
                        <th>Notes</th>
                        <th>Action</th>
                      </tr>
                  </thead>
                  <!--Table head-->
                  <!--Table body-->
                  <tbody>
                    <tr *ngFor="let order of orders | paginate: { itemsPerPage: 9, currentPage: page, totalItems:totalLength }">
                      <td>{{order.ReservationNo}}</td>
                      <td>{{order.GuestId}}</td>
                      <td>{{order.RoomId}}</td>
                      <td>{{order.ArrivalDate}}</td>
                      <td>{{order.DepartureDate}}</td>
                      <td>{{order.Notes}}</td>
                          <td>
                            <button type="button" routerLink="/editOrder/{{order.OrdersId}}" class="btn dt-edit" style="background-color: transparent;">
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="button" (click)="deleteItem(order.OrdersId)" class="btn dt-delete" style="background-color: transparent;">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </td>
                      </tr>
                  </tbody>
                  <!--Table body-->
              </table>
              <!--Table-->
              <!--Bottom Table UI-->
              <div class="d-flex justify-content-center">
                <!--Pagination -->
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
                <!--/Pagination -->
            </div>
            <!--Bottom Table UI-->
          </div>
        </div>
      </div>

      
  </div>
  </body>
</html>
    
    