<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
    <nav class="navbar">
      <div class="brandName">Prism</div>
        <button class="btn btn-primary" style="background-color: transparent;"><i class="fa fa-user fa-3x" aria-hidden="true"></i>
        </button>      
    </nav> 
    <div class="row" style="padding-top: 50px;">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body" style="height: 790px;">
            <img class="btn-md" src="assets/profile.png" alt="" style="padding-left: 100px;">
            <h5 class="card-title" style="padding-left: 95px;">Emily Smith</h5>
            <h6 style="padding-left: 120px; font-size: 14px;">Manager</h6>
            <div class="button">
            <a routerLink="/guests" type="button" class="btn btn-outline-dark btn-rounded" style="width: 250px; transform: translateX(11%); "><i class="fa fa-user-o pr-5"
              aria-hidden="true"></i>Manage Guest</a>  
            </div>
            <div class="button">  
            <a routerLink="/reservation" type="button" class="btn btn-outline-dark btn-rounded" style="width: 250px; transform: translateX(11%); "><i class="fa fa-calendar pr-4"
              aria-hidden="true"></i>Manage Reservation</a> 
            </div>  
            <div class="button">   
            <a routerLink="/rooms" type="button" class="btn btn-outline-dark btn-rounded" style="width: 250px; transform: translateX(11%); "><i class="fa fa-bed pr-5"
              aria-hidden="true"></i>Manage Room</a> 
            </div>   
            <div class="button"> 
            <a routerLink="/roomTypes" routerLinkActive="active" type="button" class="btn btn-outline-dark btn-rounded" style="width: 250px; transform: translateX(11%); "><i class="fa fa-sign-out pr-3"
              aria-hidden="true"></i>Manage RoomTypes</a>
            </div>                        
          </div>
        </div>
      </div>
      <div class="col-sm-9">  
        <div class="card">
          <div class="heading">
            <div class="title">Room Type Manager
              <button class="btn" [routerLink]="'/roomTypes'" style="background-color: transparent; padding-right: 40px; float: right;"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
              </button>
              <button class="btn" [routerLink]="'/addRoomType'" style="background-color: transparent; padding-right: 20px; float: right;"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
              </button>  
            </div>
          </div>
          <div class="card-body">
            <form class="my-form" [formGroup]="formGroup" (ngSubmit)="updateRoomType()">
                <div class="form-group row">
                    <label for="full_name" class="col-md-4 col-form-label text-md-left">RoomTypeId</label>
                    <div class="col-md-6">
                        <input type="text" id="guest_no" class="form-control" name="GuestNo" formControlName="RoomTypeId">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email_address" class="col-md-4 col-form-label text-md-left">Code</label>
                    <div class="col-md-6">
                        <input type="text" id="email_address" class="form-control" name="Name" formControlName="Code">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone_number" class="col-md-4 col-form-label text-md-left">Name</label>
                    <div class="col-md-6">
                        <input type="text" id="phone_number" class="form-control" name="IdNo" formControlName="Name">
                    </div>
                </div>      
                    <div class="col-md-6 offset-md-4">
                        <button class="submit" style="text-align: center;" type="submit">UPDATE</button>
                    </div>
            </form>    
              
          </div>
        </div>
      </div>

      
  </div>
  </body>
</html>
    
    